@page "/"

@inject ToastBase ToastBase

<PageTitle>Index</PageTitle>

<button class="btn btn-outline-success" @onclick="@(() => ToastBase.ShowToast("Succesfully insert into database", ToastLevel.Success) )">toast success</button>
<button class="btn btn-outline-danger" @onclick="@(() => ToastBase.ShowToast("Failed insert into database", ToastLevel.Fail) )">toast fail</button>


